body {
    background-color: #f2f2f2;
    padding: 20px;
}
/* 사이드바 오른쪽으로 본문 밀기 */
.content {
    margin-left: 240px;
}
.same-table th:nth-child(1),
.same-table td:nth-child(1) { width: 10%; }

.same-table th:nth-child(2),
.same-table td:nth-child(2) { width: 30%; }

.same-table th:nth-child(3),
.same-table td:nth-child(3) { width: 20%; }

.same-table th:nth-child(4),
.same-table td:nth-child(4) { width: 25%; }

.same-table th:nth-child(5),
.same-table td:nth-child(5) { width: 15%; }

.same-table {
    table-layout: fixed;
}