body {
    background-color: #f2f2f2;
}
.search-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}
.content {
    margin-left: 240px;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.same-table thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: inset 0 -1px 0 #dee2e6;
}
.same-table th:nth-child(1),
.same-table td:nth-child(1) { width: 10%; }

.same-table th:nth-child(2),
.same-table td:nth-child(2) { width: 25%; }

.same-table th:nth-child(3),
.same-table td:nth-child(3) { width: 20%; }

.same-table th:nth-child(4),
.same-table td:nth-child(4) { width: 25%; }

.same-table th:nth-child(5),
.same-table td:nth-child(5) { width: 20%; }

.same-table {
    table-layout: fixed;
}