.recipe-step {
    align-items: center;
}

.img-upload-area {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail{
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.step-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ingredient-item {
    border: 1px solid #dee2e6;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #ffffff;
}
.ingredient-name {
    font-weight: bold;
}

.register-fixed-bottom {
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}