.photo-upload-area {
    width: 100px;
    height: 100px;
}

.photo-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: 1px solid #dee2e6;
    transition: background-color 0.2s;
}

.photo-placeholder:hover {
    background-color: #e2e6ea;
}

.photo-placeholder.has-image {
    border: none;
}

.star-rating i {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 5px;
    color: #ffc107;
}

.star-rating .bi-star {
    color: #ced4da !important;
}

.ingredient-list {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
    border: solid 0px #dee2e6;
    transition:
            max-height 0.5s ease-in-out,
            padding 0.5s ease-in-out,
            margin-bottom 0.5s ease-in-out,
            border-width 0.5s ease-in-out;
}

.ingredient-list.active {
    overflow: visible;
    max-height: 500px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-width: 1px;
}

.select-input-group {
    display: none;
    margin-left: 10px;
    flex: 1;
}

.bi-arrow-right {
    cursor: pointer;
    transition: transform 0.2s;
}

.bi-arrow-right:hover {
    transform: translateX(3px);
    color: #0d6efd;
}