/* 사이드바 기본 */
.content {
    margin-left: 240px; /* sidebar width 그대로 */
}
.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #80a6e4;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* 프로필 */
.profile-area {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 200px;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: contain; /* 영역 안에 맞게 */
}


/* 메뉴 영역을 남은 공간을 차지하도록 */
.nav {
    flex-grow: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 메뉴 링크 */
.sidebar-link {
    color: #333;
    font-size: 17px;
    text-decoration: none;
}

.sidebar-link:hover {
    color: #0d6efd;
}
.sidebar-link.active {
    background-color: #e9ecef;
    border-radius: 3px;
    font-weight: 1000;
}
.logout-area .btn-outline-danger {
    color: #f0f0f0;
    background-color: #dc3545;
    border-color: #f0f0f0;
}