<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>기간공구 생성</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/addGroupBuy.css}">
</head>
<body>
<div class="mobile-container position-relative">
  <div th:replace="layout :: pageHeader('기간공구 생성', 'javascript:history.back()')"></div>
  <div th:text="${creatorNo}" style="display: none" id="creatorNo"></div>
  <main class="p-4 pb-0">

    <div class="mb-4">
      <label for="title" class="form-label fw-bold">제목</label>
      <input type="text" class="form-control" id="title" placeholder="제목 입력" value="">
    </div>

    <div class="mb-4">
      <label for="itemSelect" class="form-label fw-bold">품목 선택</label>
      <div class="select-input-group">
        <input type="text" class="form-control" id="itemSelect" placeholder="품목선택" value="">
        <input type="hidden" id="ingredientNo">
        <i class="bi bi-search select-icon"></i>

        <div class="dropdown-menu dropdown-menu" id="itemDropdownMenu"></div>
      </div>
    </div>

    <div class="mb-4">
      <label for="otherItem" class="form-label fw-bold">기타 품목 선택</label>
      <div class="d-flex align-items-center">
        <input type="text" class="form-control me-2" id="otherItem" placeholder="선택지에 없는 품목을 추가하세요!">
        <button class="btn btn-outline-secondary" type="button" id="addOtherItemBtn" style="height: 44px; width: 44px; border-radius: 8px;">
          <i class="bi bi-plus fs-5"></i>
        </button>
      </div>
    </div>

    <div class="mb-4">
      <label for="joinYear" class="form-label fw-bold">모집기간</label>
      <div class="input-group">
        <select class="form-select" id="joinYear"></select>
        <span class="input-group-text">년</span>
        <select class="form-select" id="joinMonth"></select>
        <span class="input-group-text">월</span>
        <select class="form-select" id="joinDay"></select>
        <span class="input-group-text">일</span>
        <select class="form-select time-select" id="joinTime"></select>
        <span class="input-group-text">까지</span>
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div class="col-6">
        <label for="deadline" class="form-label fw-bold">구매 기간(마감일 포함)</label>
        <div class="input-group">
          <select class="form-select day-select" id="deadline"></select>
          <span class="input-group-text">일 이내</span>
        </div>
      </div>
      <div class="col-6">
        <label for="sharingTimeWeek" class="form-label fw-bold">나눔 기간(수령일 포함)</label>
        <div class="input-group">
          <select class="form-select day-select" id="sharingTimeWeek"></select>
          <span class="input-group-text">일 뒤</span>
          <select class="form-select time-select" id="sharingTimeHour"></select>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label for="addressSearch" class="form-label fw-bold">나눔 장소</label>
      <div class="input-group">
        <input type="text" class="form-control me-2" id="addressSearch" placeholder="주소 검색">
        <button class="btn btn-outline-secondary" type="button" style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-radius: 8px; width: 44px;">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <input type="text" class="form-control mt-2" id="detailAddress" placeholder="상세 주소">
    </div>

    <div class="mb-4">
      <label for="price" class="form-label fw-bold">상품 가격</label>
      <div class="input-group">
        <input type="text" class="form-control text-end" id="price" placeholder="0" value="">
        <span class="input-group-text">원</span>
      </div>
    </div>

    <div class="mb-4 p-3 border rounded-3 bg-light">
      <div class="d-flex justify-content-between mb-3 custom-radio-group">
        <input type="radio" class="btn-check" name="countType" id="count" autocomplete="off">
        <label class="btn btn-outline-primary me-2" for="count">갯수</label>

        <input type="radio" class="btn-check" name="countType" id="weight" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="weight">무게 (기준: g)</label>
      </div>

      <div class="row g-3 fs-7 text-center align-items-end">
        <div class="col-4">
          <label class="form-label fw-bold">상품 총량</label>
          <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="0" value="" id="quantity">
            <span class="input-group-text unit-label"></span>
          </div>
        </div>

        <div class="col-4">
          <label class="form-label fw-bold">수수료</label>
          <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="0" value="" id="fee_rate">
            <span class="input-group-text">%</span>
          </div>
        </div>
        <div class="col-4">
          <label class="form-label fw-bold">최대인원수</label>
          <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="0" value="" id="maxParticipants">
            <span class="input-group-text">명</span>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label for="itemSaleUrl" class="form-label fw-bold">상품 판매 URL</label>
      <input type="text" class="form-control" id="itemSaleUrl" placeholder="상품 판매 링크를 입력하세요">
    </div>

    <div class="mb-4">
      <button class="btn btn-light border w-100 fw-bold py-2 rounded-3" id="attachPhotoButton">
        사진 첨부하기
      </button>
      <input type="file" id="fileInput" accept="image/*" style="display: none;">

      <div id="previewContainer" class="d-flex flex-wrap mt-2 g-2">
      </div>
    </div>

    <div class="mb-5">
      <label for="content" class="form-label fw-bold">내용</label>
      <textarea class="form-control" id="content" rows="5"></textarea>
    </div>

  </main>

  <div class="bottom-post">
    <button class="btn btn-primary btn-post w-100 py-2" id="submitBtn">
      게시
    </button>
  </div>

  <div th:replace="layout :: menuBar"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/addPeriodGroupBuy.js}"></script>
</body>
</html>