<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/card.css">
</head>
<body>
<div class="mobile-container position-relative">

  <div th:replace="layout :: mainHeader"></div>
  <div class="px-3" id="main">

      <section class="mb-3">
        <div class="d-flex align-items-center mb-3">
          <img src="/img/cooking.png">
          <h5 class="section-title m-0">많이 따라하는 레시피</h5>
        </div>

        <div class="position-relative px-3">

          <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#recipeScroll">
            <i class="bi bi-chevron-left"></i>
          </button>

          <div id="recipeScroll" class="horizontal-scroll">
          </div>
          <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#recipeScroll">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </section>

      <section class="mb-3">
        <div class="mb-3">
          <div class="d-flex align-items-center">
            <img src="/img/collision.png">
            <h5 class="section-title m-0">마감임박한 수량공구</h5>
          </div>
          <p class="section-subtitle">원하는 수량만큼 공구하고 싶어요</p>
        </div>

        <div class="position-relative px-3">

          <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#quantityBuyScroll">
            <i class="bi bi-chevron-left"></i>
          </button>

          <div id="quantityBuyScroll" class="horizontal-scroll"></div>
          <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#quantityBuyScroll">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </section>

      <section class="mb-3">
        <div class="mb-3">
          <div class="d-flex align-items-center">
            <img src="/img/collision.png">
            <h5 class="section-title m-0">마감임박한 기간공구</h5>
          </div>
          <p class="section-subtitle">원하는 기간안에 공구하고 싶어요</p>
        </div>

        <div class="position-relative px-3">

          <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#periodBuyScroll">
            <i class="bi bi-chevron-left"></i>
          </button>
          <div id="periodBuyScroll" class="horizontal-scroll"></div>
          <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#periodBuyScroll">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </section>

      <section class="mb-0">
        <div class="d-flex align-items-center mb-3">
          <img src="/img/plate.png">
          <h5 class="section-title m-0">최근 올라온 후기</h5>
        </div>

        <div class="position-relative px-3">

        <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#reviewScroll">
          <i class="bi bi-chevron-left"></i>
        </button>

        <div id="reviewScroll" class="horizontal-scroll"></div>
          <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#reviewScroll">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </section>
    </div>

  <div th:replace="layout :: menuBar"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/api.js"></script>
<script src="/js/layout.js"></script>
<script src="/js/card.js"></script>
<script src="/js/home.js"></script>
</body>
</html>