<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/css/layout.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
<div class="mobile-container position-relative">
  <header class="d-flex justify-content-between align-items-center p-3 bg-white sticky-top" style="z-index: 1020;">
    <h4 class="m-0 fw-bold">로고자리</h4>
    <a href="#" class="text-dark"><i class="bi bi-bell fs-4"></i></a>
  </header>

  <div class="px-3" id="main">

      <section class="mb-3">
        <div class="d-flex align-items-center mb-3">
          <img src="../../../../../Matna/src/main/resources/static/img/cooking.png">
          <h5 class="section-title m-0">많이 따라하는 레시피</h5>
        </div>

        <div class="position-relative px-3">

          <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#recipeScroll">
            <i class="bi bi-chevron-left"></i>
          </button>

          <div id="recipeScroll" class="horizontal-scroll">

            <div class="card card-custom card-wide" data-type="recipe" data-no="45">
            <img src="../static/img/steamedeggs.jpg" class="card-img-top" alt="안주로 딱~ 폭신하고 부드러운 계란찜">
            <div class="card-body px-0 py-2">
              <div class="d-flex align-items-center mb-1">
                <img src="../static/img/user.png" class="profile-img" alt="User">
                <div class="overflow-hidden w-100">
                  <div class="d-flex overflow-hidden w-100">
                    <small class="fw-bold text-nowrap">침대견</small>
                    <p class="card-text text-truncate mb-0 ms-2">안주로 딱~ 폭신하고 부드러운 계란찜</p>
                  </div>
                  <div class="small text-muted">
                    <span class="text-warning"><i class="bi bi-star-fill"></i> 4.5</span>
                    <span>| 후기 8</span>
                  </div>
                </div>
              </div>
              <div class="small text-muted text-center">
                <span class="text-secondary"><i class="bi bi-person"></i> 1인분</span>
                <span class="text-secondary"><i class="bi bi-clock"></i> 10분</span>
                <span class="text-secondary"><i class="bi bi-star"></i> 쉬움</span>
                <span><img src="../static/img/spicy.png" class="spicy">  안매워요</span>
              </div>
            </div>
          </div>
            <div class="card card-custom card-wide" data-type="recipe" data-no="5">
              <img src="../static/img/ravioli.jpg" class="card-img-top" alt="속을 뜨끈하게 한국인 입맛에 맞춘 라비올리">
              <div class="card-body px-0 py-2">
                <div class="d-flex align-items-center mb-1">
                  <img src="../static/img/user.png" class="profile-img" alt="User">
                  <div class="overflow-hidden w-100">
                    <div class="d-flex overflow-hidden w-100">
                      <small class="fw-bold text-nowrap">눕오리</small>
                      <p class="card-text text-truncate mb-0 ms-2">속을 뜨끈하게 한국인 입맛에 맞춘 라비올리</p>
                    </div>
                    <div class="small text-muted">
                      <span class="text-warning"><i class="bi bi-star-fill"></i> 4.0</span>
                      <span>| 후기 14</span>
                    </div>
                  </div>
                </div>
                <div class="small text-muted text-center">
                  <span class="text-secondary"><i class="bi bi-person"></i> 2인분</span>
                  <span class="text-secondary"><i class="bi bi-clock"></i> 20분</span>
                  <span class="text-secondary"><i class="bi bi-star"></i> 보통</span>
                  <span><img src="../static/img/spicy.png" class="spicy">  열라면맵기</span>
                </div>
              </div>
            </div>

            <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#recipeScroll">
              <i class="bi bi-chevron-right"></i>
            </button>

          </div>
        </div>
      </section>

      <section class="mb-3">
        <h5 class="section-title">요즘 뜨는 수량공구</h5>
        <p class="section-subtitle">원하는 수량만큼 공구하고 싶어요</p>

        <div class="position-relative px-3">

          <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#quantityBuyScroll">
            <i class="bi bi-chevron-left"></i>
          </button>

          <div id="quantityBuyScroll" class="horizontal-scroll">

            <div class="card card-custom card-wide" data-type="quantity" data-no="45">
            <img src="../static/img/orange.jpg" class="card-img-top" alt="고당도 제주 감귤 1kg">
            <div class="card-body px-0 py-2">
              <div class="d-flex align-items-center mb-1">
                <img src="../static/img/user.png" class="profile-img" alt="User">
                <div class="overflow-hidden w-100">
                  <div class="d-flex overflow-hidden w-100">
                    <small class="fw-bold text-nowrap">해피</small>
                    <p class="card-text text-truncate mb-0 ms-2">고당도 제주 감귤 1kg</p>
                  </div>
                  <small class="text-danger d-block mb-1">남은 수량 : 300g</small>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div >
                  <span class="fw-bold">1,100원</span>
                  <small class="text-muted">(100g당)</small>
                </div>
                <span class="badge badge-location">금천구</span>
              </div>
            </div>
          </div>
            <div class="card card-custom card-wide" data-type="quantity" data-no="12">
              <img src="../static/img/mushroom.jpg" class="card-img-top" alt="표고버섯 살 사람">
              <div class="card-body px-0 py-2">
                <div class="d-flex align-items-center mb-1">
                  <img src="../static/img/user.png" class="profile-img" alt="User">
                  <div class="overflow-hidden w-100">
                    <div class="d-flex overflow-hidden w-100">
                      <small class="fw-bold text-nowrap">말이오</small>
                      <p class="card-text text-truncate mb-0 ms-2">표고버섯 살 사람</p>
                    </div>
                    <small class="text-danger d-block mb-1">남은 수량 : 10개</small>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div >
                    <span class="fw-bold">100원</span>
                    <small class="text-muted">(1개당)</small>
                  </div>
                  <span class="badge badge-location">금천구</span>
                </div>
              </div>
            </div>
            <div class="card card-custom card-wide" data-type="quantity" data-no="35">
              <img src="../static/img/tomato.jpg" class="card-img-top" alt="방울토마토 공구해요">
              <div class="card-body px-0 py-2">
                <div class="d-flex align-items-center mb-1">
                  <img src="../static/img/user.png" class="profile-img" alt="User">
                  <div class="overflow-hidden w-100">
                    <div class="d-flex overflow-hidden w-100">
                      <small class="fw-bold text-nowrap">도맛도</small>
                      <p class="card-text text-truncate mb-0 ms-2">방울토마토 공구해요</p>
                    </div>
                    <small class="text-danger d-block mb-1">남은 수량 : 300g</small>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div >
                    <span class="fw-bold">500원</span>
                    <small class="text-muted">(100g당)</small>
                  </div>
                  <span class="badge badge-location">금천구</span>
                </div>
              </div>
            </div>

            <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#quantityBuyScroll">
              <i class="bi bi-chevron-right"></i>
            </button>

          </div>
        </div>
      </section>

      <section class="mb-3">
        <h5 class="section-title">요즘 뜨는 기간공구</h5>
        <p class="section-subtitle">원하는 기간안에 공구하고 싶어요</p>

        <div class="position-relative px-3">

          <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#periodBuyScroll">
            <i class="bi bi-chevron-left"></i>
          </button>
          <div id="periodBuyScroll" class="horizontal-scroll">

            <div class="card card-custom card-wide" data-type="period" data-no="4">
            <img src="../static/img/basil.jpg" class="card-img-top" alt="바질 같이사기">
            <div class="card-body px-0 py-2">
              <div class="d-flex align-items-center mb-1">
                <img src="../static/img/user.png" class="profile-img" alt="User">
                <div class="overflow-hidden w-100">
                  <div class="d-flex overflow-hidden w-100">
                    <small class="fw-bold text-nowrap">밥도둑</small>
                    <p class="card-text text-truncate mb-0 ms-2">바질 같이사기</p>
                  </div>
                  <small class="text-danger d-block mb-1">남은 기간 : 2일 16시간 30분</small>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold">1,100~5,000원 <small class="text-muted fw-normal">(<span class="text-danger">2</span>/5)</small></span>
                <span class="badge badge-location">용산구</span>
              </div>
            </div>
          </div>
            <div class="card card-custom card-wide" data-type="period" data-no="24">
              <img src="../static/img/potato.jpg" class="card-img-top" alt="수미감자 왔어요">
              <div class="card-body px-0 py-2">
                <div class="d-flex align-items-center mb-1">
                  <img src="../static/img/user.png" class="profile-img" alt="User">
                  <div class="overflow-hidden w-100">
                    <div class="d-flex overflow-hidden w-100">
                      <small class="fw-bold text-nowrap">흙감자</small>
                      <p class="card-text text-truncate mb-0 ms-2">수미감자 왔어요</p>
                    </div>
                    <small class="text-danger d-block mb-1">남은 기간 : 2일 02시간 03분</small>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="fw-bold">1,100~5,000원 <small class="text-muted fw-normal">(<span class="text-danger">2</span>/5)</small></span>
                  <span class="badge badge-location">용산구</span>
                </div>
              </div>
            </div>


            <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#periodBuyScroll">
              <i class="bi bi-chevron-right"></i>
            </button>

          </div>
        </div>
      </section>

      <section class="mb-0">
        <div class="d-flex align-items-center mb-3">
          <img src="../static/img/plate.png">
          <h5 class="section-title m-0">최근 올라온 후기</h5>
        </div>

        <div class="position-relative px-3">

        <button class="btn btn-sm btn-light scroll-btn left-arrow position-absolute top-50 start-0 translate-middle-y rounded-circle shadow-sm" data-target="#reviewScroll">
          <i class="bi bi-chevron-left"></i>
        </button>

        <div id="reviewScroll" class="horizontal-scroll">

          <div class="card card-custom card-wide" data-type="review" data-no="46">
            <img src="../static/img/tteokbokki.jpg" class="card-img-top" alt="다이어트 떡볶이 만들어봤어요">
            <div class="card-body px-0 py-2">
              <div class="d-flex align-items-center mb-1">
                <img src="../static/img/user.png" class="profile-img" alt="User">
                <div class="overflow-hidden w-100">
                  <div class="d-flex overflow-hidden w-100">
                    <small class="fw-bold text-nowrap">베베는오리</small>
                    <p class="card-text text-truncate mb-0 ms-2">다이어트 떡볶이 만들어봤어요</p>
                  </div>
                  <div class="small text-muted">
                    <span class="text-warning"><i class="bi bi-star-fill"></i> 4.5</span>
                    <span>작성일 : 2025.11.15</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-custom card-wide" data-type="review" data-no="4">
            <img src="../static/img/salad.jpg" class="card-img-top" alt="유자드레싱 따라해봤어요">
            <div class="card-body px-0 py-2">
              <div class="d-flex align-items-center mb-1">
                <img src="../static/img/user.png" class="profile-img" alt="User">
                <div class="overflow-hidden w-100">
                  <div class="d-flex overflow-hidden w-100">
                    <small class="fw-bold text-nowrap">춘냥이</small>
                    <p class="card-text text-truncate mb-0 ms-2">유자드레싱 따라해봤어요</p>
                  </div>
                  <div class="small text-muted">
                    <span class="text-warning"><i class="bi bi-star-fill"></i> 5.0</span>
                    <span>작성일 : 2025.11.15</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <button class="btn btn-sm btn-light scroll-btn right-arrow position-absolute top-50 end-0 translate-middle-y rounded-circle shadow-sm" data-target="#reviewScroll">
            <i class="bi bi-chevron-right"></i>
          </button>

        </div>
        </div>
      </section>
    </div>

  <nav class="navbar fixed-bottom bg-white bottom-nav p-0">
  <div class="container-fluid p-0">
    <ul class="nav w-100 justify-content-between py-2 px-5">
      <li class="nav-item">
        <a class="nav-link active p-1" href="#">
          <i class="bi bi-house-door-fill"></i>
          홈
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-1" href="#">
          <i class="bi bi-book"></i>
          레시피
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-1" href="#">
          <i class="bi bi-basket"></i>
          공동 구매
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-1" href="#">
          <i class="bi bi-person"></i>
          MY
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const scrollButtons = document.querySelectorAll('.scroll-btn');
    const scrollDistance = 280;

    scrollButtons.forEach(button => {
      button.addEventListener('click', function() {
        const targetId = this.getAttribute('data-target');
        const scrollArea = document.querySelector(targetId);

        if (!scrollArea) return;
        const isRight = this.classList.contains('right-arrow');

        const newScrollLeft = isRight
                ? scrollArea.scrollLeft + scrollDistance
                : scrollArea.scrollLeft - scrollDistance;

        scrollArea.scrollTo({
          left: newScrollLeft,
          behavior: 'smooth'
        });
      });
    });

    document.querySelectorAll('.card-custom').forEach(card => {
      card.addEventListener('click', function() {
        const noValue = this.getAttribute('data-no');
        const type = this.getAttribute('data-type');

        if (noValue) {
          // window.location.href = `http://127.0.0.1:5432/${type}/detail/${noValue}`; //api 예상
          alert(type + noValue) //테스트
        }
      });
    });
  });
</script>
</body>
</html>