<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/sidebar.css">
</head>
<body>
<div class="sidebar">

    <!-- 프로필 영역 -->
    <div class="profile-area text-center">
        <img src="../static/img/default-profile.png" class="profile-img" alt="프로필">
        <h5 class="username mt-2">사용자 이름</h5>
    </div>

    <!-- 메뉴 -->
    <ul class="menu-list">
        <li><a href="/home">홈</a></li>
        <li><a href="/recipe">레시피</a></li>
        <li><a href="/ingredient">재료 관리</a></li>
        <li><a href="/my">내 정보</a></li>
        <li><a href="/settings">설정</a></li>
    </ul>

    <!-- 하단 로그아웃 -->
    <div class="logout-area text-center">
        <button class="btn btn-outline-danger w-75">로그아웃</button>
    </div>

</div>
</body>
</html>
